@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #1d2752;
  --brand-secondary: #0EA5E9;
  --brand-accent: #d9642c;
  --brand-accent-light: #ec9e3f;
  --brand-background: #ffffff;
}

body {
  background: var(--brand-background);
  color: #1a1a1a;
}
